POSTGRES_USER=admin
POSTGRES_PASSWORD=ChangeMeSecurely123!
POSTGRES_DB=expo_ota
DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
AUTH_ACCESS_SECRET="use 'openssl rand -hex 32' to generate a secure random string for production"
AUTH_REFRESH_SECRET="use 'openssl rand -hex 32' to generate a secure random string for production"
